body, html, #root {
	width: 100%;
	height: 100%;
	margin: 0px;
}

#loginContainer {
	background-image: url(https://i.redd.it/oexlfzwy78ex.png);
	background-position: bottom;
	background-size: contain;
	background-repeat: no-repeat;
}

.link {
	color: #007bff;
	cursor: pointer;
}