.App{
  display: grid;
  grid-gap: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #F4F4F4;
}

body{
  font-family:"Arial", Serif;
  background-color:#f4f4f4;
}

.PokeCard{
  width: 150px;
  height: 200px;
  padding: 20px;
  background-color: #263238;
  margin: 5px;
  transition: 0.3s;
  box-shadow: 0 0px 0px 0 #EF5350;
  text-align: center;
  font-size: 20px;
}

.PokeCard:hover{
  box-shadow: 4px 4px 8px 0px #EF5350;
}

.PokeCard p{
  margin-left: 15px;
  margin-top: 20px;
}

.loaded img{
  border: 2px solid red;
}


.loadingImg{
  margin-left: 20px;
  z-index: 1;
  border: 30px solid #f3f3f3;
  border-radius: 50%;
  border-top: 30px solid red;
  border-left: 30px solid red;
  background-color: black;
  opacity: 1;
  width: 50px;
  height: 50px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

.Detail{
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #263238;
  overflow: hidden;
  opacity: .9;
  transition: 0.3s;
  padding-top: 60px;
  white-space: nowrap;
  text-align: center;
  font-size: 18px;
}


.Detail .close-detail{
  position: absolute;
  top:0;
  right:22px;
  font-size:36px;
  margin-left:50px;
  text-decoration: none;
  color: white;
}

.Detail .close-detail:hover{
  color: gray;
}

.Pokedex{
  grid-area: content;
  padding-right:20px;
  margin-right: 400px;
  top: -20px;
  overflow:auto;
  z-index: 0;
  width: auto;
  position: relative;
}

.Navbar{
  grid-area: sidebar;
  position: fixed;
  width: 400px;
  right: 0px;
  background-color: #EF5350;
  height: 100%;
}

#header{
  text-align: center;
  color: #F4F4F4;
}

.Navbar a {
  color: #F4F4F4;
  background-color: #353e42;
  padding: 10px;
  padding-top: 5px;
  text-align: center;
  text-decoration: none;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 10px;
  box-shadow: 1px 1px 0px 0px lightcoral;
}

.Navbar a:hover{
  background-color: #f3f3f3;
  color: black;
}

.spinner-small {
  position: relative;
  left: 100px;
  top: -10px;
  border: 10px solid #f3f3f3;
  border-radius: 50%;
  border-top: 10px solid red;
  border-left: 10px solid red;
  background-color: black;
  opacity: 1;
  width: 20px;
  height: 20px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

#pokeGrid{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

img{
  position: relative;
  left: 2px;
  top: 2px;
  background-color:#F4F4F4;
  border-radius: 50%;
}

@media (max-width:1400px) {
  #pokeGrid{
    grid-template-columns: repeat(4, 1fr);
  }
  .Navbar {
    width: 300px;
  }
  .Pokedex {
    margin-right: 300px;
  }
}

@media (max-width:1120px) {
  #pokeGrid{
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width:920px) {
  #pokeGrid{
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width:710px) {
  #pokeGrid{
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (max-width:710px) {
  #pokeGrid{
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (max-width:510px) {
  .Navbar{
    width: 200px;
  }
  .Navbar h2, .Navbar h3{
    display: none;
  }
  .Pokedex {
    margin-right: 200px;
  }
}

@media (max-width:415px) {
  .Navbar{
    width: 150px;
  }
  .Pokedex {
    margin-right: 150px;
  }
}

@media (max-width:380px) {
  .Navbar{
    width: 120px;
  }
  .Navbar h1{
    font-size: 25px;
  }
  .Pokedex {
    margin-right: 120px;
  }
}